// Import the initial variables
@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';

// Set your own initial variables
$family-serif: -apple-system, Segoe UI, Helvetica Neue,
  Hiragino Kaku Gothic ProN, 'メイリオ', meiryo, sans-serif;

// Set the derived variables
$family-primary: $family-serif;
$blue: #005fc0;

// Unable BreakPoint
$widescreen-enabled: false;
$fullhd-enabled: false;

// Change Style for NavBar
$navbar-item-color: $white;

// Import the rest of Bulma
@import '~bulma';
